# Servidor
PORT=3000
NODE_ENV=development

# Configuración de la base de datos (MongoDB)
MONGODB_URI=mongodb://usuario:contraseña@localhost:27017/nombre_bd
# Ejemplo para producción: mongodb+srv://usuario:contraseña@cluster.mongodb.net/nombre_bd